:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.container {
    @apply w-4/5;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

h2 {
    @apply text-2xl font-semibold;
}
