.pagination {
    @apply w-full bg-black border-t-8 fixed bottom-0 left-0 flex justify-center py-4 font-bold;
    border-color: #003c39;

    > div {
        @apply flex gap-8 items-center;
        width: 350px;

        button {
            @apply rounded-lg border border-transparent p-4 transition-colors hover:border-neutral-700 hover:bg-neutral-800/30;
            width: 150px;
        }
    }
}

.movieDetail {
    @apply flex gap-4;

    img {
        @apply rounded-md;
    }
    p {
        @apply text-justify;
    }
}
