.card {
    @apply cursor-pointer mb-4;

    div {
        img {
            @apply mb-2 rounded-md;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.02);
                transform-origin: bottom;
            }
        }
    }
}
